<nb-card>
  <nb-card-header>
    The Heartbit Project
  </nb-card-header>

  <nb-card-body>
    <p> Heartbit is a healthcare system that stores blood exam data
      and display it nicely on tables and charts.
    </p>
  </nb-card-body>

</nb-card>
<nb-card>
  <nb-card-header>
      Technical Details
  </nb-card-header>
  <nb-card-body>
    Heartbit uses MongoDB as NoSQL database,
    Nodejs server as RESTful back-end API
    and Angular framework as frontend.
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-footer>
      <button class="btn btn-primary" (click)="listPatients()">List Patients</button>
      <button class="btn btn-primary" (click)="showDesirableLevels()">Show Desirable Blood Levels</button>
    </nb-card-footer>
</nb-card>
