<nb-card>
  <nb-card-header>
    Patient Data
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      (userRowSelect)="onUserRowSelect($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer [hidden]="!isPatientSelected()">
      <button class="btn btn-primary" (click)="showChart()">Show Records Charts</button>
      <button class="btn btn-primary" (click)="showTable()">Show Records Table</button>

      <!--
      <button class="btn btn-success" (click)="openRandomToast()">Random toast</button>
      <button class="btn btn-danger" (click)="clearToasts()">Clear all toasts</button>
      -->
    </nb-card-footer>
</nb-card>
